data/price_sync_n8n.json
{
  "name": "Price Sync - Every 30min",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "aa000001-0000-0000-0000-000000000001",
      "name": "Schedule 30min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-600, 0]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "getAll",
        "projectId": "asset-tracker-479809-b80f1",
        "collection": "users/fU1xVuB6egg4eenFPqItMW6DhJB3/purchases",
        "returnAll": true
      },
      "id": "aa000001-0000-0000-0000-000000000002",
      "name": "Firestore Purchases Sync",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [-400, 0],
      "credentials": {
        "googleApi": {
          "id": "eX2M9zivWL2nlEPK",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const purchases = $input.all();\n\nconst yahooMap = {\n  'APC': 'APC.F', 'AMZ': 'AMZ.F', 'NVD': 'NVD.F', 'AP2': 'AP2.DE', 'MSF': 'MSF.F',\n  'TL0': 'TL0.DE', 'TLO': 'TL0.DE', 'TKE': 'TKE.F', 'M4I': 'M4I.F', 'ABEA': 'ABEA.F',\n  'CSPX': 'CSPX.AS', 'CNDX': 'CNDX.AS', '3ZU0': '3ZU0.F', '1170': '1170.F',\n  '9D5': '9D5.F', 'GXG': 'GXG.F', 'BKSY': 'BKSY',\n  'GOLD-ETFP': 'GOLD-EUR.PA',\n  'AL2SI': 'AL2SI.PA', 'SU': 'SU.PA', 'ESE': 'ESE.PA',\n  'EUEA': 'EUEA.AS', 'STEC': 'STEC.AS', 'ALRIB': 'ALRIB.PA',\n  'SOI': 'SOI.PA', 'BTC': 'BTC-EUR'\n};\n\nconst reverseMap = {};\nfor (const [short, yahoo] of Object.entries(yahooMap)) {\n  reverseMap[yahoo] = short;\n}\n\nconst netQty = {};\nfor (const item of purchases) {\n    const ticker = (item.json.ticker || '').toUpperCase().trim();\n    const qty = parseFloat(item.json.quantity) || 0;\n    if (!ticker || ticker.startsWith('CASH-')) continue;\n    netQty[ticker] = (netQty[ticker] || 0) + qty;\n}\n\nconst tickers = [];\nfor (const [ticker, qty] of Object.entries(netQty)) {\n    if (qty < 0.01) continue;\n    const yahooTicker = yahooMap[ticker] || ticker;\n    if (!reverseMap[yahooTicker]) reverseMap[yahooTicker] = ticker;\n    if (!tickers.includes(yahooTicker)) tickers.push(yahooTicker);\n}\n\nconst batch = tickers.slice(0, 20);\nconst allTickers = batch.join(',');\n\nreturn [{ json: { allTickers, reverseMap } }];"
      },
      "id": "aa000001-0000-0000-0000-000000000003",
      "name": "Build Tickers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-200, 0]
    },
    {
      "parameters": {
        "url": "=https://query1.finance.yahoo.com/v7/finance/spark?symbols={{ $json.allTickers }}&range=1d&interval=5m",
        "options": {}
      },
      "id": "aa000001-0000-0000-0000-000000000004",
      "name": "Fetch Prices Yahoo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "const reverseMap = $('Build Tickers').first().json.reverseMap;\nconst sparkData = $input.first().json;\nconst pricesObj = {};\n\nif (sparkData?.spark?.result) {\n    for (const res of sparkData.spark.result) {\n        if (!res?.response?.[0]?.meta) continue;\n        const yahooTicker = res.symbol;\n        const shortTicker = reverseMap[yahooTicker] || yahooTicker;\n        const meta = res.response[0].meta;\n        const price = meta.regularMarketPrice || 0;\n        const previousClose = meta.chartPreviousClose || meta.previousClose || price;\n        const currency = meta.currency || 'EUR';\n        const dayChangePct = previousClose > 0 ? ((price - previousClose) / previousClose * 100) : 0;\n        pricesObj[shortTicker] = { price, previousClose, currency, dayChangePct, lastUpdated: Date.now() };\n    }\n}\n\nreturn [{ json: {\n    prices: pricesObj,\n    metadata: {\n        lastRefreshTimestamp: Date.now(),\n        lastRefreshDevice: 'n8n-auto',\n        tickerCount: Object.keys(pricesObj).length\n    },\n    summary: null\n}}];"
      },
      "id": "aa000001-0000-0000-0000-000000000005",
      "name": "Parse Prices",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 0]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "projectId": "asset-tracker-479809-b80f1",
        "collection": "users/fU1xVuB6egg4eenFPqItMW6DhJB3/marketData",
        "documentId": "snapshot",
        "columns": "prices,metadata,summary"
      },
      "id": "aa000001-0000-0000-0000-000000000006",
      "name": "Write Snapshot",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [400, -100],
      "credentials": {
        "googleApi": {
          "id": "eX2M9zivWL2nlEPK",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "get",
        "projectId": "asset-tracker-479809-b80f1",
        "collection": "users/fU1xVuB6egg4eenFPqItMW6DhJB3/priceAlerts",
        "documentId": "thresholds"
      },
      "id": "aa000001-0000-0000-0000-000000000007",
      "name": "Get Alert Thresholds",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [400, 120],
      "credentials": {
        "googleApi": {
          "id": "eX2M9zivWL2nlEPK",
          "name": "Google Firebase Cloud Firestore account"
        }
      },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const prices = $('Parse Prices').first().json.prices;\nconst storedDoc = $input.first().json || {};\n\n// Les seuils sont stockés sous la clé alertData\nconst rawThresholds = storedDoc.alertData || {};\n\n// Extraire les entrées valides\nconst thresholds = {};\nfor (const [key, val] of Object.entries(rawThresholds)) {\n    if (val && typeof val === 'object' && val.threshold !== undefined) {\n        thresholds[key] = val;\n    }\n}\n\n// Reset quotidien : ignorer les seuils de la veille\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\nconst todayTs = today.getTime();\nconst currentThresholds = {};\nfor (const [ticker, stored] of Object.entries(thresholds)) {\n    if (stored.lastAlertedAt >= todayTs) {\n        currentThresholds[ticker] = stored;\n    }\n}\n\nconst alerts = [];\nconst newThresholds = { ...currentThresholds };\n\nfor (const [ticker, data] of Object.entries(prices)) {\n    const pct = data.dayChangePct || 0;\n    const absPct = Math.abs(pct);\n    if (absPct < 1) continue;\n\n    const stored = currentThresholds[ticker] || null;\n    const direction = pct >= 0 ? 'up' : 'down';\n\n    if (!stored) {\n        // Première alerte du jour\n        alerts.push({ ticker, pct, price: data.price, currency: data.currency || 'EUR' });\n        newThresholds[ticker] = { threshold: absPct, direction, lastAlertedAt: Date.now() };\n    } else {\n        // Re-alerte si +1% supplémentaire dans la même direction\n        const sameDirection = (pct >= 0) === (stored.direction === 'up');\n        if (sameDirection && absPct >= stored.threshold + 1) {\n            alerts.push({ ticker, pct, price: data.price, currency: data.currency || 'EUR' });\n            newThresholds[ticker] = { threshold: absPct, direction, lastAlertedAt: Date.now() };\n        }\n    }\n}\n\nreturn [{ json: {\n    hasAlerts: alerts.length > 0,\n    alerts,\n    newThresholds\n}}];"
      },
      "id": "aa000001-0000-0000-0000-000000000008",
      "name": "Check Alerts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 120]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "alert-cond-001",
              "leftValue": "={{ $json.hasAlerts }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aa000001-0000-0000-0000-000000000009",
      "name": "If Has Alerts",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [800, 120]
    },
    {
      "parameters": {
        "jsCode": "const { alerts } = $input.first().json;\n\nconst lines = alerts.map(a => {\n    const emoji = a.pct >= 0 ? '🟢' : '🔴';\n    const sign = a.pct >= 0 ? '+' : '';\n    return `${emoji} *${a.ticker}* : ${sign}${a.pct.toFixed(2)}% (${a.price.toFixed(2)} ${a.currency})`;\n}).join('\\n');\n\nconst message = `📊 *Alerte Prix Portefeuille*\\n\\n${lines}\\n\\n_Prochain alerte si \\+1% supplémentaire_`;\n\nreturn [{ json: { chatId: '2089017736', message } }];"
      },
      "id": "aa000001-0000-0000-0000-000000000010",
      "name": "Format Alert Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 0]
    },
    {
      "parameters": {
        "chatId": "2089017736",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "aa000001-0000-0000-0000-000000000011",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1200, 0],
      "credentials": {
        "telegramApi": {
          "id": "SX5rx7IEfevBlf0q",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Enveloppe les seuils sous une clé fixe 'alertData' pour Firestore\nconst { newThresholds } = $('Check Alerts').first().json;\nreturn [{ json: { alertData: newThresholds } }];"
      },
      "id": "aa000001-0000-0000-0000-000000000012",
      "name": "Extract Thresholds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 240]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "projectId": "asset-tracker-479809-b80f1",
        "collection": "users/fU1xVuB6egg4eenFPqItMW6DhJB3/priceAlerts",
        "documentId": "thresholds",
        "columns": "alertData"
      },
      "id": "aa000001-0000-0000-0000-000000000013",
      "name": "Write Alert Thresholds",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [1200, 240],
      "credentials": {
        "googleApi": {
          "id": "eX2M9zivWL2nlEPK",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule 30min": {
      "main": [[{"node": "Firestore Purchases Sync", "type": "main", "index": 0}]]
    },
    "Firestore Purchases Sync": {
      "main": [[{"node": "Build Tickers", "type": "main", "index": 0}]]
    },
    "Build Tickers": {
      "main": [[{"node": "Fetch Prices Yahoo", "type": "main", "index": 0}]]
    },
    "Fetch Prices Yahoo": {
      "main": [[{"node": "Parse Prices", "type": "main", "index": 0}]]
    },
    "Parse Prices": {
      "main": [
        [
          {"node": "Write Snapshot", "type": "main", "index": 0},
          {"node": "Get Alert Thresholds", "type": "main", "index": 0}
        ]
      ]
    },
    "Get Alert Thresholds": {
      "main": [[{"node": "Check Alerts", "type": "main", "index": 0}]]
    },
    "Check Alerts": {
      "main": [[{"node": "If Has Alerts", "type": "main", "index": 0}]]
    },
    "If Has Alerts": {
      "main": [
        [
          {"node": "Format Alert Message", "type": "main", "index": 0},
          {"node": "Extract Thresholds", "type": "main", "index": 0}
        ]
      ]
    },
    "Format Alert Message": {
      "main": [[{"node": "Telegram Alert", "type": "main", "index": 0}]]
    },
    "Extract Thresholds": {
      "main": [[{"node": "Write Alert Thresholds", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bd0642bff22c21ed24c1b956535cd6871d016852494b3555f3c4d9f5f6a5776e"
  },
  "tags": []
}
