data/tg_trigger_price_30min.json
{
  "name": "tg_trigger_price_30min",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "minutes", "minutesInterval": 30}]
        }
      },
      "id": "99d7f17c-a279-471b-b04e-72e77936efa4",
      "name": "Schedule 30min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [700, 1620]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "getAll",
        "projectId": "asset-tracker-479809-b80f1",
        "collection": "users/fU1xVuB6egg4eenFPqItMW6DhJB3/purchases",
        "returnAll": true
      },
      "id": "1596cf14-6472-4044-b8bf-a9e7bd76145a",
      "name": "Firestore Purchases Sync",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [900, 1620],
      "credentials": {
        "googleApi": {"id": "eX2M9zivWL2nlEPK", "name": "Google Firebase Cloud Firestore account"}
      }
    },
    {
      "parameters": {
        "jsCode": "const purchases = $input.all();\n\nconst yahooMap = {\n  'APC': 'APC.F', 'AMZ': 'AMZ.F', 'NVD': 'NVD.F', 'AP2': 'AP2.DE', 'MSF': 'MSF.F',\n  'TL0': 'TL0.DE', 'TLO': 'TL0.DE', 'TKE': 'TKE.F', 'M4I': 'M4I.F', 'ABEA': 'ABEA.F',\n  'CSPX': 'CSPX.AS', 'CNDX': 'CNDX.AS', '3ZU0': '3ZU0.F', '1170': '1170.F',\n  '9D5': '9D5.F', 'GXG': 'GXG.F', 'BKSY': 'BKSY',\n  'GOLD-ETFP': 'GOLD-EUR.PA',\n  'AL2SI': 'AL2SI.PA', 'SU': 'SU.PA', 'ESE': 'ESE.PA',\n  'EUEA': 'EUEA.AS', 'STEC': 'STEC.AS', 'ALRIB': 'ALRIB.PA',\n  'SOI': 'SOI.PA', 'BTC': 'BTC-EUR'\n};\n\nconst reverseMap = {};\nfor (const [short, yahoo] of Object.entries(yahooMap)) {\n  reverseMap[yahoo] = short;\n}\n\nconst netQty = {};\nconst nameMap = {};\nfor (const item of purchases) {\n    const ticker = (item.json.ticker || '').toUpperCase().trim();\n    const qty = parseFloat(item.json.quantity) || 0;\n    if (!ticker || ticker.startsWith('CASH-')) continue;\n    netQty[ticker] = (netQty[ticker] || 0) + qty;\n    if (!nameMap[ticker]) nameMap[ticker] = item.json.name || ticker;\n}\n\nconst tickers = [];\nfor (const [ticker, qty] of Object.entries(netQty)) {\n    if (qty < 0.01) continue;\n    const yahooTicker = yahooMap[ticker] || ticker;\n    if (!reverseMap[yahooTicker]) reverseMap[yahooTicker] = ticker;\n    if (!tickers.includes(yahooTicker)) tickers.push(yahooTicker);\n}\n\nconst batch = tickers.slice(0, 20);\nconst allTickers = batch.join(',');\n\nreturn [{ json: { allTickers, reverseMap, nameMap } }];"
      },
      "id": "1c11e53a-796f-4f07-91de-1a6fe17a97c7",
      "name": "Build Tickers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 1620]
    },
    {
      "parameters": {
        "url": "=https://query1.finance.yahoo.com/v7/finance/spark?symbols={{ $json.allTickers }}&range=1d&interval=5m",
        "options": {}
      },
      "id": "fcf4674f-8480-40b8-a451-fac30a99c504",
      "name": "Fetch Prices Yahoo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 1620]
    },
    {
      "parameters": {
        "jsCode": "const reverseMap = $('Build Tickers').first().json.reverseMap;\nconst sparkData = $input.first().json;\nconst pricesObj = {};\n\nif (sparkData?.spark?.result) {\n    for (const res of sparkData.spark.result) {\n        if (!res?.response?.[0]?.meta) continue;\n        const yahooTicker = res.symbol;\n        const shortTicker = reverseMap[yahooTicker] || yahooTicker;\n        const meta = res.response[0].meta;\n        const price = meta.regularMarketPrice || 0;\n        const previousClose = meta.chartPreviousClose || meta.previousClose || price;\n        const currency = meta.currency || 'EUR';\n        const dayChangePct = previousClose > 0 ? ((price - previousClose) / previousClose * 100) : 0;\n        pricesObj[shortTicker] = { price, previousClose, currency, dayChangePct, lastUpdated: Date.now() };\n    }\n}\n\nreturn [{ json: {\n    prices: pricesObj,\n    metadata: {\n        lastRefreshTimestamp: Date.now(),\n        lastRefreshDevice: 'n8n-auto',\n        tickerCount: Object.keys(pricesObj).length\n    },\n    summary: null\n}}];"
      },
      "id": "df64d2cf-c26a-4b35-9ae0-6738799d85f4",
      "name": "Parse Prices",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 1620]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "projectId": "asset-tracker-479809-b80f1",
        "collection": "users/fU1xVuB6egg4eenFPqItMW6DhJB3/marketData",
        "documentId": "snapshot",
        "columns": "prices,metadata,summary"
      },
      "id": "9d27aa20-13af-4e53-92ac-d710975d606e",
      "name": "Write Snapshot",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [1700, 1520],
      "credentials": {
        "googleApi": {"id": "eX2M9zivWL2nlEPK", "name": "Google Firebase Cloud Firestore account"}
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "get",
        "projectId": "asset-tracker-479809-b80f1",
        "collection": "users/fU1xVuB6egg4eenFPqItMW6DhJB3/priceAlerts",
        "documentId": "thresholds"
      },
      "id": "7ded34d8-cb8f-4eb3-b535-667e99b8fe13",
      "name": "Get Alert Thresholds",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [1700, 1740],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "credentials": {
        "googleApi": {"id": "eX2M9zivWL2nlEPK", "name": "Google Firebase Cloud Firestore account"}
      }
    },
    {
      "parameters": {
        "jsCode": "const prices = $('Parse Prices').first().json.prices;\nconst nameMap = $('Build Tickers').first().json.nameMap || {};\nconst storedDoc = $input.first().json || {};\n\nconst rawThresholds = storedDoc.alertData || {};\n\nconst thresholds = {};\nfor (const [key, val] of Object.entries(rawThresholds)) {\n    if (val && typeof val === 'object' && val.threshold !== undefined) {\n        thresholds[key] = val;\n    }\n}\n\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\nconst todayTs = today.getTime();\nconst now = Date.now();\nconst COOLDOWN_MS = 20 * 60 * 1000;\n\nconst currentThresholds = {};\nfor (const [ticker, stored] of Object.entries(thresholds)) {\n    if (stored.lastAlertedAt >= todayTs) {\n        currentThresholds[ticker] = stored;\n    }\n}\n\nconst alerts = [];\nconst newThresholds = { ...currentThresholds };\n\nfor (const [ticker, data] of Object.entries(prices)) {\n    const pct = data.dayChangePct || 0;\n    const absPct = Math.abs(pct);\n    if (absPct < 1) continue;\n\n    const stored = currentThresholds[ticker] || null;\n    const direction = pct >= 0 ? 'up' : 'down';\n    const name = nameMap[ticker] || ticker;\n\n    if (!stored) {\n        alerts.push({ ticker, name, pct, price: data.price, currency: data.currency || 'EUR' });\n        newThresholds[ticker] = { threshold: absPct, direction, lastAlertedAt: now };\n    } else {\n        // Cooldown anti-spam : 20 min minimum sauf si +1% supplémentaire franchi\n        const sameDirection = (pct >= 0) === (stored.direction === 'up');\n        const movedEnough = sameDirection && absPct >= stored.threshold + 1;\n        const cooledDown = (now - stored.lastAlertedAt) >= COOLDOWN_MS;\n        if (movedEnough && cooledDown) {\n            alerts.push({ ticker, name, pct, price: data.price, currency: data.currency || 'EUR' });\n            newThresholds[ticker] = { threshold: absPct, direction, lastAlertedAt: now };\n        }\n    }\n}\n\nreturn [{ json: {\n    hasAlerts: alerts.length > 0,\n    alerts,\n    newThresholds\n}}];"
      },
      "id": "cc75db35-2762-45f2-999f-99f3532aac0d",
      "name": "Check Alerts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1900, 1740]
    },
    {
      "parameters": {
        "jsCode": "const { newThresholds } = $('Check Alerts').first().json;\nreturn [{ json: { alertData: newThresholds } }];"
      },
      "id": "55141df5-e429-433f-b81c-9b699b2d0e51",
      "name": "Extract Thresholds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2100, 1940]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "projectId": "asset-tracker-479809-b80f1",
        "collection": "users/fU1xVuB6egg4eenFPqItMW6DhJB3/priceAlerts",
        "documentId": "thresholds",
        "columns": "alertData"
      },
      "id": "694c0239-a5e1-45f4-a3d9-4291fd5a9d7d",
      "name": "Write Alert Thresholds",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [2300, 1940],
      "credentials": {
        "googleApi": {"id": "eX2M9zivWL2nlEPK", "name": "Google Firebase Cloud Firestore account"}
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [
            {
              "id": "alert-cond-001",
              "leftValue": "={{ $json.hasAlerts }}",
              "rightValue": true,
              "operator": {"type": "boolean", "operation": "equals"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d497d3dd-1cdd-43b4-ad4b-759cea2a6e2e",
      "name": "If Has Alerts",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2300, 1740]
    },
    {
      "parameters": {
        "jsCode": "const { alerts } = $input.first().json;\n\nconst lines = alerts.map(a => {\n    const emoji = a.pct >= 0 ? '🟢' : '🔴';\n    const sign = a.pct >= 0 ? '+' : '';\n    const label = a.name || a.ticker;\n    return `${emoji} *${label}* : ${sign}${a.pct.toFixed(2)}% (${a.price.toFixed(2)} ${a.currency})`;\n}).join('\\n');\n\nconst message = `📊 *Alerte Prix Portefeuille*\\n\\n${lines}\\n\\n_Prochain alerte si +1% supplémentaire_`;\n\nreturn [{ json: { chatId: '2089017736', message } }];"
      },
      "id": "cba07763-5f6c-4029-b970-d75cc7ea25a7",
      "name": "Format Alert Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2500, 1740]
    },
    {
      "parameters": {
        "chatId": "2089017736",
        "text": "={{ $json.message }}",
        "additionalFields": {"parse_mode": "Markdown"}
      },
      "id": "77ffe7b7-d02d-4e7f-a1bd-5f63ef418f63",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2700, 1740],
      "credentials": {
        "telegramApi": {"id": "SX5rx7IEfevBlf0q", "name": "Telegram account"}
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule 30min": {
      "main": [[{"node": "Firestore Purchases Sync", "type": "main", "index": 0}]]
    },
    "Firestore Purchases Sync": {
      "main": [[{"node": "Build Tickers", "type": "main", "index": 0}]]
    },
    "Build Tickers": {
      "main": [[{"node": "Fetch Prices Yahoo", "type": "main", "index": 0}]]
    },
    "Fetch Prices Yahoo": {
      "main": [[{"node": "Parse Prices", "type": "main", "index": 0}]]
    },
    "Parse Prices": {
      "main": [[
        {"node": "Write Snapshot", "type": "main", "index": 0},
        {"node": "Get Alert Thresholds", "type": "main", "index": 0}
      ]]
    },
    "Get Alert Thresholds": {
      "main": [[{"node": "Check Alerts", "type": "main", "index": 0}]]
    },
    "Check Alerts": {
      "main": [[
        {"node": "Extract Thresholds", "type": "main", "index": 0},
        {"node": "If Has Alerts", "type": "main", "index": 0}
      ]]
    },
    "Extract Thresholds": {
      "main": [[{"node": "Write Alert Thresholds", "type": "main", "index": 0}]]
    },
    "If Has Alerts": {
      "main": [
        [{"node": "Format Alert Message", "type": "main", "index": 0}],
        []
      ]
    },
    "Format Alert Message": {
      "main": [[{"node": "Telegram Alert", "type": "main", "index": 0}]]
    }
  },
  "active": true,
  "settings": {"executionOrder": "v1"},
  "versionId": "afca92d5-aa12-4978-b0ec-d72475f30d94",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bd0642bff22c21ed24c1b956535cd6871d016852494b3555f3c4d9f5f6a5776e"
  },
  "id": "NlaHcQ1AiJGITisY",
  "tags": []
}
